{{!
    Template of the Logic Circuit question type.

    @package    qtype_logiccircuit/save-result
    @copyright  2025 Groupe Modulo
    @license    CC BY-NC-SA
}}
{{!
    @template qtype_logiccircuit/logic-editor
}}

<div class="qtype_logiccircuit">

    <h1>{{question_name}}</h1>
    <p>{{{question_text}}}</p>

    {{#readonly}}
        <div style="width: 100%; height: 40rem; max-height: 40rem;">
            <logic-editor mode="static" norestore id="logic-editor">
                <script type="application/json5">
                    {{#answer_value}}
                        {{{answer_value}}}
                    {{/answer_value}}

                    {{^answer_value}}
                        {{{init_state}}}
                    {{/answer_value}}
                </script>
            </logic-editor>
        </div>
    {{/readonly}}

    {{^readonly}}
        <div style="width: 100%; height: 40rem; max-height: 40rem;">
            {{#editor_mode}}
                <logic-editor norestore mode="connect" id="logic-editor">
                    <script type="application/json5">
                        {{#answer_value}}
                            {{{answer_value}}}
                        {{/answer_value}}

                        {{^answer_value}}
                            {{{init_state}}}
                        {{/answer_value}}
                    </script>
                </logic-editor>
            {{/editor_mode}}
            {{^editor_mode}}
                {{#components_to_show}}
                    <logic-editor norestore mode="design" showonly="{{components_to_show}}" id="logic-editor">
                        <script type="application/json5">
                            {{#answer_value}}
                                {{{answer_value}}}
                            {{/answer_value}}

                            {{^answer_value}}
                                {{{init_state}}}
                            {{/answer_value}}
                        </script>
                    </logic-editor>
                {{/components_to_show}}
                {{^components_to_show}}
                    <logic-editor norestore mode="design" id="logic-editor">
                        <script type="application/json5">
                            {{#answer_value}}
                                {{{answer_value}}}
                            {{/answer_value}}

                            {{^answer_value}}
                                {{{init_state}}}
                            {{/answer_value}}
                        </script>
                    </logic-editor>
                {{/components_to_show}}
            {{/editor_mode}}
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex ustify-content-start align-items-center">
                <button
                    id="circuit-run-test-button"
                    type="button"
                    class="btn btn-primary"
                    aria-label="{{#str}} runtests, qtype_logiccircuit {{/str}}"
                    style="margin: 1rem">
                    {{#str}} saveandruntests, qtype_logiccircuit {{/str}}
                </button>
                <span
                    id="result_not_uploaded"
                    class="text-warning"
                    style="margin-left: 1rem;"
                    role="status">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{#str}} resultnotuploaded, qtype_logiccircuit {{/str}}
                </span>
                <span
                    id="new_result_uploaded"
                    class="text-success"
                    style="margin-left: 1rem;"
                    role="status">
                    <i class="fa fa-circle-check" aria-hidden="true"></i>
                    {{#str}} resultuploaded, qtype_logiccircuit {{/str}}
                </span>
            </div>

            <button
                id="circuit-reset-button"
                type="button"
                class="btn btn-warning"
                aria-label="{{#str}} resetcircuit, qtype_logiccircuit {{/str}}"
                style="margin: 1rem"
                data-init-state="{{init_state}}">
                {{#str}} resetthecircuit, qtype_logiccircuit {{/str}}
            </button>
        </div>

        <input
            type="text"
            name="{{answer_input_name}}"
            id="answer"
            value="{{answer_value}}"
            style="display: none;">
        <input
            type="text"
            name="{{test_results_input_name}}"
            id="test-results"
            value="{{test_results_value}}"
            style="display: none;">
    {{/readonly}}


    {{#is_debug}}
        <div>
            <h1>DEBUG</h1>
                'question_name' => $question_name,
                'question_text' => $question_text,
                'init_state' => $init_state,
                'answer_name' => $answer_input_name,
                'test_results_name' => $test_results_input_name,
                'answer_value' => $current_answer,
                'test_results_value' => $current_test_results,
            <p>QUESTION NAME: {{question_name}}</p>
            <p>QUESTION TEXT: {{question_text}}</p>
            <p>EDITOR_MODE: {{editor_mode}}</p>
            <p>COMPONENTS_TO_SHOW: {{components_to_show}}</p>
            <p>INIT STATE: {{{init_state}}}</p>
            <p>ANSWER INPUT NAME: {{answer_input_name}}</p>
            <p>TEST RESULTS INPUT NAME: {{test_results_input_name}}</p>
            <p>ANSWER VALUE: {{{answer_value}}}</p>
            <p>TEST RESULTS VALUE: {{{test_results_value}}}</p>
        </div>
    {{/is_debug}}

</div>
